@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Foldit:wght@100..900&family=Kalnia+Glaze:wght@100..700&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

*{  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fff;
}
.addcategory{
	width:100%;
	height:700px;
	background-image:url('../images/background-vendor.avif');
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-items:center;
}
.addcategory .prod-cont{
	
	height:400px;
	width:600px;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-items:center;
	
	border-bottom-color: red;
	padding:20px;
	border-radius:10%;
	/* background-image:linear-gradient(45deg,#005AA7,#FFFDE4); */
	 border: 1px solid rgba(200, 255, 255, 0.5);
	 backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow:0px 1px white;
}


.addcategory  input{
	width:400px;
	padding:10px;	
}
.addcategory input[type=submit]{
	width:200px;
	padding:10px;
	background-color:#023e8a;
	border:2px solid white;
	box-shadow: 2px 2px silver;
	color:white;
    font-size: 23px;
    border-left: none;
	border-right: none;
    
}
.addcategory input[type=submit]:hover{
	background-color:#48cae4;
	color:black;
	box-shadow: 2px 2px orange;
	border:none;
	margin-top:2.5px;
}


.form-select{
	width:22em;
	padding:10px;
	margin-left:-11px;
	font-size: 16px;
  	border: none;
  	outline: none;
  
}

.productpage{
	width:100%;
	height:36.5em;
	display:flex;
	justify-content:center;
	align-items:center;
	background-image:url('../images/shop2.jpg');
	background-repeat:no-repeat;
	background-size:cover;
}
.updateproduct{
	width:100%;
	height:40.5em;
	display:flex;
	justify-content:center;
	align-items:center;
	background-image:url('../images/shop2.jpg');
	background-repeat:no-repeat;
	background-size:cover;
}


.product-form{
	height:30em;
	width:30em;
	display:flex;
	align-items:center;
	flex-direction:column;
	justify-content: center;
	backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(8px);
  border:1px solid white;
	
}

.update-form{
	height:33em;
	width:40em;
	display:flex;
	align-items:center;
	flex-direction:column;
	justify-content: center;
	backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(8px);
  border:1px solid white;
}
.update-date{
	padding:0.7em;
	width:29em;
	margin-left:-2.6em;	
}
.date{
	padding:0.5em;
	width:25em;
	margin:1em;
		
}

.row{
	
	width:25em;
	margin:auto;
	justify-content:space-around;
}
.row a{
	text-decoration: none;
	color:black;
	font-size: 1.5em;
}
.row a:hover{
	background-color:transparent;
}
.row img{
	width:23px;
	height:23px;
}
.text-area{
	display:flex;
	padding:0.5em;
	width:25em;
}

.update-text-area{
	padding:0.7em;
	width:29em;
	margin-left:-2.6em;	
	margin-top:1em;
}

.sbtn{
	border:none;
	margin:1em;
	padding:0.5em 5em;
	background-color:orange;
	color:white;
	border:2px solid transparent;
	border-radius:7%;
}

.sbtn:hover{
	background-color:teal;
	border:2px solid white;
}